<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/beginningHibernate2014</property>
        <property name="hibernate.connection.username">dev</property>
        <property name="hibernate.connection.password">dev</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <mapping class="ch2.Message"/>

        <mapping class="ch3.Person"/>
        <mapping class="ch3.Skill"/>
        <mapping class="ch3.Ranking"/>

        <mapping class="ch4.Email"/>
        <mapping class="ch4.Messagech4"/>

        <mapping class="ch4.TestO"/>
        <mapping class="ch4.TestM"/>

        <mapping class="ch4.Programch4$PersonInner"/>

        <mapping class="ch5.ch5UnidirectionalOneToOneProgram$Author"/>
        <mapping class="ch5.ch5UnidirectionalOneToOneProgram$Biography"/>

        <mapping class="ch5.ch5UnidirectionalOneToMany$Onech5"/>
        <mapping class="ch5.ch5UnidirectionalOneToMany$Manych5"/>

        <mapping class="ch5.ch5BidirectionalOneToMany$Book" />
        <mapping class="ch5.ch5BidirectionalOneToMany$Publisher" />

        <mapping class="ch5.ch5EmbeddableComposeIdProgram$CPKBook"/>

        <mapping class="ch8.CacheEntity"/>

        <mapping class="ch11.UserWithFilter"/>
    </session-factory>
</hibernate-configuration>