*path
*~
*.class

target/
gwt-unitCache
/JavaEE/7JEE/JavaEEWithNetbeans5Parts/HelloJeeWithNetbeans/nbproject/private/
/JavaEE/7JEE/JavaEEWithNetbeans5Parts/HelloJeeWithNetbeans/build/
/JavaEE/7JEE/JavaEEWithNetbeans5Parts/HelloJeeWithNetbeans/dist/
.metadata


# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/