root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{cpp,hpp,h,cc}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{CMakeLists.txt,*.cmake}]
indent_size = 2

[Makefile]
indent_style = tab
