apiVersion: v1
kind: ConfigMap
metadata:
  name: banking-config
  labels:
    app: enterprise-banking
data:
  eureka.url: "http://discovery-service:8761/eureka/"
  kafka.bootstrap-servers: "kafka:9092"
  redis.host: "redis"
  redis.port: "6379"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: account-service-config
  labels:
    app: account-service
data:
  application.yml: |
    spring:
      profiles:
        active: prod
    server:
      port: 8081
    management:
      endpoints:
        web:
          exposure:
            include: health,info,prometheus
      endpoint:
        health:
          probes:
            enabled: true
    logging:
      level:
        root: INFO
        com.bank: INFO

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: transaction-service-config
  labels:
    app: transaction-service
data:
  application.yml: |
    spring:
      profiles:
        active: prod
    server:
      port: 8082
    management:
      endpoints:
        web:
          exposure:
            include: health,info,prometheus
    logging:
      level:
        root: INFO
        com.bank: INFO
