apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: enterprise-banking-base

namespace: banking

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: enterprise-banking
  app.kubernetes.io/part-of: banking-platform
