/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
.env
.env.*.local
/coverage
/config/master.key
/config/credentials/*.key
.byebug_history
