<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Archetype Created Web Application</display-name>

    <!--  Interesting thing !!  -->
    <!-- Be careful if jsp is already compiled , this jsp-config doesnt affect it !!!! -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
			<include-prelude>/extension.jspf</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
    <session-config></session-config>
	
</web-app>