PLANG_ENV=development
PLANG_LOG_LEVEL=info
PLANG_TARGET_TRIPLE=
PLANG_OPT_LEVEL=0
PLANG_JIT_ENABLED=true
PLANG_REGISTRY_URL=http://localhost:8080
PLANG_REGISTRY_DB_USER=plang
PLANG_REGISTRY_DB_PASSWORD=replace-with-local-password
PLANG_REGISTRY_DB_NAME=plang_registry
PLANG_REGISTRY_DATABASE_URL=postgres://${PLANG_REGISTRY_DB_USER}:${PLANG_REGISTRY_DB_PASSWORD}@localhost:5432/${PLANG_REGISTRY_DB_NAME}
PLANG_REGISTRY_TOKEN=
PLANG_PACKAGE_CACHE_DIR=.plang/cache
