<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurityHelloWithAnnotations:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurityHelloWithAnnotations.war">
      <element id="artifact" artifact-name="SpringSecurityHelloWithAnnotations:war exploded" />
    </root>
  </artifact>
</component>