POSTGRES_DB=hotel_booking
POSTGRES_USER=hotel_app
POSTGRES_PASSWORD=change-this-docker-db-password
POSTGRES_PORT=5432
APP_PORT=8888
STAFF_API_TOKEN=change-this-staff-token
SESSION_SECRET=change-this-session-secret
EMAIL_PROVIDER_API_KEY=change-this-email-provider-key
