<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>chap2_firstServletAndJsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>helloworld</servlet-name>
    <servlet-class>apress.helloworld.HelloWorld</servlet-class>
    <init-param>
      <param-name>helloWorldParam</param-name>
      <param-value>Hello world Value</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloworld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>email</param-name>
    <param-value>andrew@ukr.net</param-value>
  </context-param>
  <filter>
    <filter-name>helloWorldFilter</filter-name>
    <filter-class>apress.helloworld.HelloWorldFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>helloWorldFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>