root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
# Namespaces, usings, analyzers
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:warning
csharp_style_namespace_declarations = file_scoped:warning
dotnet_diagnostic.CA2007.severity = none      # ConfigureAwait not required in ASP.NET Core
dotnet_style_require_accessibility_modifiers = always:warning
dotnet_naming_rule.private_fields_underscore.severity = warning

[*.{ts,tsx,js,jsx,json,css,scss,html,yml,yaml}]
indent_size = 2

[*.{csproj,props,targets,xml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
