grant codeBase "file:/home/andrii/git/JavaRelated/JavaCore/RMI_and_JMX/RMI/hello-rmi-officialguide/src/" {
    permission java.security.AllPermission;
};
