# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
frontend/dist/
frontend/package-lock.json.orig

# Secrets & TLS material
.env
*.key
*.crt
*.csr
*.srl
nginx/tls/ca.*
nginx/tls/server.*
nginx/tls/san.ext

# DBs
*.db
*.sqlite3

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
