STRING_ALGORITHMS_SAMPLE_TEXT=abracadabra pattern matching abracadabra
STRING_ALGORITHMS_PATTERN=abra
STRING_ALGORITHMS_PATTERNS=abra,cad,match
STRING_ALGORITHMS_PALINDROME_TEXT=forgeeksskeegfor
STRING_ALGORITHMS_COMPARISON_TEXT=cadabra matching
STRING_ALGORITHMS_BENCHMARK=false
